<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <img *ngIf="form.get('userPhotoUrl').value" [src]="form.get('userPhotoUrl').value" class="avatar mr-5">

        <h2 *ngIf="form.get('firstName').value" class="headline m-0" fxFlex="auto">
            {{ form.get('firstName').value + ' ' + form.get('lastName').value }}</h2>
        <h2 *ngIf="!form.get('firstName').value" class="headline m-0" fxFlex="auto">New User</h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <mat-divider class="-mx-6 text-border"></mat-divider>
    <mat-dialog-content fxLayout="column">
        <div *ngIf="mode=='create'" class="flex flex-col xl:flex-row">
            <mat-form-field class="flex-auto">
                <mat-label>Password</mat-label>
                <input [type]="inputType" formControlName="password" matInput required>
                <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
                    <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                    <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                </button>
                <mat-icon [icIcon]="icPassword" class="mr-3" matPrefix></mat-icon>

            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Confirm Password</mat-label>
                <input [type]="inputType" formControlName="confirmPassword" matInput required>
                <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
                    <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                    <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                </button>
                <mat-icon [icIcon]="icPassword" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>
        </div>
        <mat-hint *ngIf="mode=='create' && f.password.touched && f.password.invalid" align="start">
            <div *ngIf="f.password.errors.pattern" class="text-danger">Password shoud be 8 in length and contain
                special,uppercase,lowercase characters
                match.</div>
        </mat-hint>
        <mat-hint *ngIf="mode=='create' && f.confirmPassword.touched && f.confirmPassword.invalid" align="start">
            <div *ngIf="f.confirmPassword.errors.confirmedValidator" class="text-danger">Password and Confirm Password
                must be
                match.</div>
        </mat-hint>

    </mat-dialog-content>



    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCEL</button>
        <button [disabled]="!form.valid" color="primary" mat-button type="submit">UPDATE</button>
    </mat-dialog-actions>
</form>