<div class="flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="card">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxLayout="row" fxLayoutAlign="start center">
                    <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                    <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="Search..." type="search">
                </div>
                <span fxFlex></span>
                <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button matTooltip="Filter Columns" type="button">
                    <mat-icon [icIcon]="icFilterList"></mat-icon>
                </button>
                <button class="ml-4" color="primary" fxFlex="none" (click)="addConnection()" mat-mini-fab matTooltip="Add connection" type="button">
                    <mat-icon [icIcon]="icAdd"></mat-icon>
                </button>
            </div>
            <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <th *matHeaderCellDef mat-header-cell></th>
                    <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
                        <img [src]="row['userPhotoUrl']?row['userPhotoUrl']:'assets/img/demo/user.png'" class="avatar h-8 w-8 align-middle">
                    </td>
                </ng-container>

                <!-- Text Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                    <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
                    </ng-container>
                </ng-container>


                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                        <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ user: row }" [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
                        </button>
                    </td>
                </ng-container>
                <!-- <mat-spinner></mat-spinner> -->
                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp class="hover:bg-hover trans-ease-out cursor-pointer" mat-row>

                </tr>

            </table>
            <div *ngIf="!(dataSource.data.length > 0)" class="no-records">
                No records found
            </div>
            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0">
            </mat-paginator>

        </div>
    </div>
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns" class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{ column.label }}
        </mat-checkbox>
    </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-user="user" matMenuContent>
        <button mat-menu-item (click)=removeConnection(user)>
            <mat-icon [icIcon]="icDelete"></mat-icon>
            <span>Remove Connection</span>
        </button>
    </ng-template>
</mat-menu>