<form (ngSubmit)="sendNotification()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline m-0" fxFlex="auto">Send Notification</h2>
        <span fxFlex></span>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div class="flex flex-col sm:flex-row sm:mt-2">
            <mat-form-field class="flex-auto">
                <mat-label>Title</mat-label>
                <input cdkFocusInitial formControlName="title" matInput required>
            </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row">

            <mat-form-field class="flex-auto">
                <mat-label>Body</mat-label>
                <input formControlName="body" matInput required>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
            <div class="flex-auto">
                <input type="file" name="files" accept="image/*" (change)="onFileChanged($event)">
            </div>

        </div>


    </mat-dialog-content>



    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCEL</button>
        <button *ngIf="isCreateMode()" [disabled]="!form.valid" color="primary" mat-button type="submit">SEND</button>
        <button *ngIf="isUpdateMode()" [disabled]="!form.valid" color="primary" mat-button type="submit">SEND</button>
    </mat-dialog-actions>
</form>